# Задание

Сохраните в файл train_part.csv следующую часть из файла train.csv:

   * строки, где matches больше чем среднее 
   
   * колонки:
       * pos, 
       
       * reads_all, 
       
       * mismatches, 
       
       * deletions, 
       
       * insertions

Ссылка на файл
https://raw.githubusercontent.com/Serfentum/bf_course/master/14.pandas/train.csv

In [2]:
import pandas as pd

In [5]:
path_to_data = "/mnt/c/my_mnt_c/Code/my_github/python_bioinf_2021/train.csv"

df = pd.read_csv(path_to_data, usecols=["pos", "reads_all", "matches", "mismatches", "deletions", "insertions"])
df.head(5)

   pos  reads_all  matches  mismatches  deletions  insertions
0  279       8045       32        7972         46           8
1  280       8045     7995          48         19           9
2  281       8045     7983          50         16           5
3  282       8049     7510         505         33          65
4  283       8042     7786         155        115          62

In [8]:
new_df = df[df["matches"] > df["matches"].mean()].drop('matches', axis=1)

new_df.head()

   pos  reads_all  matches  mismatches  deletions  insertions
1  280       8045     7995          48         19           9
2  281       8045     7983          50         16           5
3  282       8049     7510         505         33          65
4  283       8042     7786         155        115          62
5  284       8048     7094         104        864         241

In [10]:
df.to_csv('/mnt/c/my_mnt_c/Code/my_github/python_bioinf_2021/train_part.csv', index=False)